<h1>{{ aoc.getName }} (AOC)</h1>
<p><a href="{{ url('homepage') }}">Index</a></p>

{% include 'OpenWinesWebAppBundle:Default/fragments:vineyard_link.html.twig' %}

<p>{{ 'designation'|trans|capitalize }}: <a href="{{ url('aocs', {'vignobleId': vignoble.getId} ) }}">AOCs du {{ vignoble.getName }}</a></p>

{% include 'OpenWinesWebAppBundle:Default/fragments:more.html.twig' with {resource: aoc} %}

