<h1><a href="{{ url('aocs', {'vignobleId': vignoble.getId} ) }}">AOCs du {{ vignoble.getName }}</a></h1>
<p><a href="{{ url('homepage') }}">Index</a></p>
<p><a href="{{ url('vignoble', {'id': vignoble.getId} ) }}">{{ vignoble.getName }}</a></p>
{% if  0 < vignoble.getAocs|length %}
    <p>AOCs du {{ vignoble.getName }} :
        <ul>
            {% for aoc in vignoble.getaocs %}
                <li><a href="{{
                    url('aoc', {
                        'id': aoc.getid,
                        'vignobleId': aoc.getvignoble.getId
                    } ) }}">{{ aoc.getname }}</a></li>
            {% endfor %}
        </ul>
    </p>
    {% endif %}
