<h1>{{ 'appellation'|trans|capitalize }} "{{ appellation.getName|capitalize }}"</h1>
<ul>
    <li><a href="{{ url('homepage') }}">Index</a></li>
    <li>Vignoble : <a href="{{ url('vignoble', {'id': vignoble.getId} ) }}">{{ vignoble.getName }}</a></li>
    <li>{{ 'created at'|trans|capitalize }} {{ vignoble.createdAt|date("D d/m/Y H:i (T)", "Europe/Paris") }}
    <li>{{ 'updated at'|trans|capitalize }} {{ vignoble.updatedAt|date("D d/m/Y H:i (T)", "Europe/Paris") }}
    <li>Liens :
        <ul>
            <li><a href="{{ url('appellations', {'vignobleId': vignoble.getId} ) }}">Appellations du {{ vignoble.getName }}</a></li>
        </ul>
    </li>
</ul>
