<h1><a href="{{ url('appellations', {'vignobleId': vignoble.getId} ) }}">Appellations du {{ vignoble.getName }}</a></h1>
<ul>
    <li><a href="{{ url('homepage') }}">Index</a></li>
    <li><a href="{{ url('vignoble', {'id': vignoble.getId} ) }}">{{ vignoble.getName }}</a></li>
{% if  0 < vignoble.getAppellations|length %}
    <li>Appellations du {{ vignoble.getName }} :
        <ul>
            {% for appellation in vignoble.getAppellations %}
                <li><a href="{{
                    url('appellation', {
                        'id': appellation.getId,
                        'vignobleId': appellation.getVignoble.getId
                    } ) }}">{{ appellation.getName }}</a></li>
            {% endfor %}
        </ul>
    </li>
{% endif %}
</ul>
