{% set URL = url( 'vignoble', {'id': vignoble.getId} ) %}
<h1><a href="{{ URL }}">{{ vignoble.getName }}</a></h1>
<p><a href="{{ url('homepage') }}">Index</a></p>
<p><a href="{{ url('vignobles') }}">Vignobles</a></p>
<ul>
    <li>Description : {{ vignoble.getDescription }}</li>
    {% if  0 < vignoble.getAppellations|length %}
        <li><a href="{{
            url('appellations', {'vignobleId': vignoble.getId })
        }}">Appellations du {{ vignoble.getName }}</a> :
            <ul>
                {% for appellation in vignoble.getAppellations %}
                    <li><a href="{{
                        url('appellation', {
                            'id': appellation.getid,
                            'vignobleId': appellation.getVignoble.getId
                        } ) }}">{{ appellation.getName }}</a></li>
                {% endfor %}
            </ul>
        </li>
    {% endif %}
    <li>Liens :
        <ul>
            {% for lien in vignoble.getMore %}
            <li><a href="{{ lien }}">{{ lien }}</a></li>
            {% endfor %}
        </ul>
    </li>

</ul>
