<h1><a href="{{ url('vignobles') }}">Vignobles</a></h1>
<p><a href="{{ url('homepage') }}">Index</a></p>
<hr/>
{% if  0 < vignobles|length %}
    <ul>
    {% for vignoble in vignobles %}
        {% set URL = url( 'vignoble', {'id': vignoble.getId} ) %}
        <li>{{ vignoble.getName }}: <a href="{{ URL }}">{{ URL }}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>{{ 'no vineyard found'|trans }}</p>
{% endif %}
